@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: lightblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    position: relative;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.container .left-side{
    position: relative;
    background: #003147;
    padding: 40px;
}

.profile_text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255, 255, 0.2);
}
.profile_text .imgBx{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profile_text .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.profile_text h2{
    font-size: 1.5em;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
    line-height: 1.4em;
    margin-top: 20px;
}
.profile_text h2 span{
    font-size: .8em;
    font-weight: 300;
}

.contact_info{
    padding-top: 40px;
}
.title{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.contact_info ul{
    position: relative;
}
.contact_info ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contact_info ul li .icon{
    display: inline-block;
    width: 25px;
    font-size: 18px;
    color: #03a9f4;
}
.contact_info ul li span{
    color: #fff;
    font-weight: 200;
}
.contact_info.education li{
    margin-bottom: 15px;
}
.contact_info.education h5{
    font-weight: 500;
    color: #03a9f4;
}
.education h4 {
    font-weight: 500;
    color: #fff;
}
.education h4:nth-child(3) {
    font-size: small;
    font-weight: 300;
    color: #fff;
}
.contact_info.language .percentage{
    position: relative;
    height: 6px;
    width: 100%;
    background: #000;
    display: block;
    margin-top: 5px;
}
.contact_info.language .percentage div{
    position: absolute;
    top: 0;
    left: 0;
    background: #03a9f4;
    height: 100%;
}

.container .right-side{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about{
    margin-bottom: 50px;
}
.about:last-child{
    margin-bottom: 0;
}
.title2{
 text-transform: uppercase;
 letter-spacing: 1px;
 color: #003147;
 margin-bottom: 10px;
}
.interest{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #003147;
    margin-bottom: 10px; 
    margin-top: 3.5rem;
}
p{
    color: #333;
}
.about .box{
 display: flex;
 flex-direction: row;
 margin: 16px 0;
}
.about .box .year_company{
    min-width: 150px;
}
.about .box .year_company h5{
   color: dimgray;
    text-transform: capitalize;
    font-weight: 500;
  
}
.about .box .text h4{
    color: #2a7da2;
    text-transform: uppercase;
    font-size: 16px;
}
.about .box .text p{
    font-size: 14px;
    
}
.skills .skillBx_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3em;
}
.skills .box{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    
   
}
.skills .box h4{
    text-transform: uppercase;
    color: rgb(88, 88, 88);
    font-weight: 500;
}
.skills .box .percent{
    position: relative;
    height: 6px;
    width: 100%;
    background: #f0f0f0;
}
.skills .box .percent div{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #03a9f4;
}
.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li{
    list-style: none;
    margin: 10px 0;
    font-weight: 500;
    color: #333;
}
.interest ul li .fa{
    color: #03a9f4;
    font-size: 18px;
    width: 22px;
    
}

@media (max-width: 1000px) {
    .container{
        margin: 10px;
        grid-template-columns:repeat(1,1fr);
    }
    .interest ul{
        
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 600px) {
    .about .box{
        flex-direction: column;
    }
    .about .box .year_company{
        margin-bottom: 5px;
    }
   
    .skills .box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}